CREATE DATABASE DB_ACADEMIA_TCC;
GO
USE [DB_ACADEMIA_TCC]
GO
/****** Object:  Schema [TCC]    Script Date: 10/17/2019 2:15:45 PM ******/
CREATE SCHEMA [TCC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TCC].[ALUNO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[ALUNO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CIDADE] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[NOME_FANTASIA] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](150) NULL,
	[TEL_CONTATO] [nvarchar](16) NULL,
	[RAMAL] [nvarchar](10) NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[IDENTIDADE] [nvarchar](30) NULL,
	[TEL_CELULAR] [nvarchar](16) NULL,
	[LOGRADOURO] [nvarchar](255) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[COMPLEMENTO] [nvarchar](50) NULL,
	[BAIRRO] [nvarchar](150) NOT NULL,
	[CEP] [nvarchar](100) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[AVALIACAO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[AVALIACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FISIOTERAPEUTA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ANAMNESE] [nvarchar](255) NOT NULL,
	[DOBRAS_CUTANEAS] [nvarchar](255) NOT NULL,
	[ERGOMETRICO] [nvarchar](500) NOT NULL,
	[DATA_AVALIACAO] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.AVALIACAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[CIDADE]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[CIDADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[DESCRICAO] [nvarchar](255) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.CIDADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[EMPRESA]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[EMPRESA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CIDADE] [int] NOT NULL,
	[CNPJ] [nvarchar](18) NOT NULL,
	[RAZAO_SOCIAL] [nvarchar](255) NOT NULL,
	[NOME_FANTASIA] [nvarchar](255) NOT NULL,
	[INSCRICAO_ESTADUAL] [nvarchar](50) NULL,
	[RESPONSAVEL] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PAGINA_WEB] [nvarchar](150) NULL,
	[TEL_CONTATO] [nvarchar](15) NULL,
	[RAMAL] [nvarchar](10) NULL,
	[TEL_CELULAR] [nvarchar](16) NULL,
	[LOGRADOURO] [nvarchar](255) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[COMPLEMENTO] [nvarchar](100) NULL,
	[BAIRRO] [nvarchar](150) NOT NULL,
	[CEP] [nvarchar](100) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[ESTADO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PAIS] [int] NOT NULL,
	[DESCRICAO] [nvarchar](255) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[FERIAS]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[FERIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
	[DATA_INICIAL] [datetime] NULL,
	[DATA_FINAL] [datetime] NULL,
 CONSTRAINT [PK_TCC.FERIAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[FISIOTERAPEUTA]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[FISIOTERAPEUTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[NOME] [nvarchar](255) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[CREFITO] [nvarchar](max) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.FISIOTERAPEUTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TCC].[INSTRUTOR]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[INSTRUTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[ID_ATIVIDADE] [int] NULL,
	[ID_PERFIL] [int] NULL,
	[ID_USUARIO_LOGIN] [int] NOT NULL,
	[NOME] [nvarchar](255) NOT NULL,
	[CPF] [nvarchar](14) NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[LOG_OPERACAO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[LOG_OPERACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUBMENU] [int] NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[ID_USUARIO_APROVA] [int] NULL,
	[MENSAGEM] [nvarchar](1000) NULL,
	[ERRO_EXCECAO] [nvarchar](2000) NULL,
	[PILHA_ERRO] [nvarchar](2000) NULL,
	[APROVADO] [bit] NOT NULL,
	[APROVA_RESTRICAO] [bit] NOT NULL,
	[ERRO_GRAVIDADE] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.LOG_OPERACAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[MATRICULA]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[MATRICULA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[DATA_INICIO] [datetime] NOT NULL,
	[DATA_TERMINO] [datetime] NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.MATRICULA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[MENU]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](250) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[PAGAMENTO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[PAGAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA] [int] NOT NULL,
	[DATA_PAGAMENTO] [datetime] NOT NULL,
	[VALOR_PAGAMENTO] [decimal](18, 2) NOT NULL,
	[FORMA_PAGAMENTO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[PAIS]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[PAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](255) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.PAIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[PLANO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[PLANO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[DESCRICAO] [nvarchar](255) NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.PLANO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[PRESENCA]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[PRESENCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA] [int] NOT NULL,
	[ID_TREINAMENTO] [int] NOT NULL,
	[DATA_PRESENCA] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.PRESENCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[SUBMENU]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[SUBMENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MENU] [int] NOT NULL,
	[DESCRICAO] [nvarchar](250) NOT NULL,
	[TIPO_ACESSO] [nvarchar](100) NOT NULL,
	[VALOR_ACESSO] [nvarchar](250) NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.SUBMENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[TREINAMENTO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[TREINAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_COLABORADOR] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[CAPACITACAO] [nvarchar](max) NOT NULL,
	[LOCAL] [nvarchar](max) NULL,
	[PERIODO_INICIAL] [datetime] NULL,
	[PERIODO_FINAL] [datetime] NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.TREINAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TCC].[TREINAMENTO_SEMANA]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[TREINAMENTO_SEMANA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DIA_SEMANA] [smallint] NOT NULL,
	[ID_TREINAMENTO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DATA_REGISTRO] [datetime] NOT NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TCC.TREINAMENTO_SEMANA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[USUARIO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRIMEIRO_ACESSO] [bit] NOT NULL,
	[EMAIL] [nvarchar](256) NULL,
	[CONFIRMA_EMAIL] [bit] NOT NULL,
	[SENHA_HASH] [nvarchar](max) NULL,
	[SELO_SEGURANCA] [nvarchar](max) NULL,
	[TELEFONE_NUMERO] [nvarchar](max) NULL,
	[CONFIRMACAO_TELEFONE] [bit] NOT NULL,
	[SEGUNDO_FATOR_HABILITADO] [bit] NOT NULL,
	[FIM_BLOQUEIO] [datetime] NULL,
	[ATIVA_BLOQUEIO] [bit] NOT NULL,
	[FALHA_ACESSO_CONTADOR] [int] NOT NULL,
	[NOME_USUARIO] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TCC.USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TCC].[USUARIO_ACESSO]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[USUARIO_ACESSO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[TIPO_ACESSO] [nvarchar](max) NULL,
	[VALOR_ACESSO] [nvarchar](max) NULL,
 CONSTRAINT [PK_TCC.USUARIO_ACESSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TCC].[USUARIO_LOGIN]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[USUARIO_LOGIN](
	[LOGIN_PROVEDOR] [nvarchar](128) NOT NULL,
	[CHAVE_PROVEDOR] [nvarchar](128) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_TCC.USUARIO_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_PROVEDOR] ASC,
	[CHAVE_PROVEDOR] ASC,
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[USUARIO_PERFIL]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[USUARIO_PERFIL](
	[ID_USUARIO] [int] NOT NULL,
	[ID_PERFIL] [int] NOT NULL,
 CONSTRAINT [PK_TCC.USUARIO_PERFIL] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TCC].[USUARIO_TIPO_PERFIL]    Script Date: 10/17/2019 2:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCC].[USUARIO_TIPO_PERFIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TCC.USUARIO_TIPO_PERFIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TCC].[ALUNO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.CLIENTE_TCC.CIDADE_ID_CIDADE] FOREIGN KEY([ID_CIDADE])
REFERENCES [TCC].[CIDADE] ([ID])
GO
ALTER TABLE [TCC].[ALUNO] CHECK CONSTRAINT [FK_TCC.CLIENTE_TCC.CIDADE_ID_CIDADE]
GO
ALTER TABLE [TCC].[ALUNO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.CLIENTE_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[ALUNO] CHECK CONSTRAINT [FK_TCC.CLIENTE_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[AVALIACAO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.AVALIACAO_TCC.CLIENTE_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [TCC].[ALUNO] ([ID])
GO
ALTER TABLE [TCC].[AVALIACAO] CHECK CONSTRAINT [FK_TCC.AVALIACAO_TCC.CLIENTE_ID_CLIENTE]
GO
ALTER TABLE [TCC].[AVALIACAO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.AVALIACAO_TCC.FISIOTERAPEUTA_ID_FISIOTERAPEUTA] FOREIGN KEY([ID_FISIOTERAPEUTA])
REFERENCES [TCC].[FISIOTERAPEUTA] ([ID])
GO
ALTER TABLE [TCC].[AVALIACAO] CHECK CONSTRAINT [FK_TCC.AVALIACAO_TCC.FISIOTERAPEUTA_ID_FISIOTERAPEUTA]
GO
ALTER TABLE [TCC].[CIDADE]  WITH CHECK ADD  CONSTRAINT [FK_TCC.CIDADE_TCC.ESTADO_ID_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [TCC].[ESTADO] ([ID])
GO
ALTER TABLE [TCC].[CIDADE] CHECK CONSTRAINT [FK_TCC.CIDADE_TCC.ESTADO_ID_ESTADO]
GO
ALTER TABLE [TCC].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.EMPRESA_TCC.CIDADE_ID_CIDADE] FOREIGN KEY([ID_CIDADE])
REFERENCES [TCC].[CIDADE] ([ID])
GO
ALTER TABLE [TCC].[EMPRESA] CHECK CONSTRAINT [FK_TCC.EMPRESA_TCC.CIDADE_ID_CIDADE]
GO
ALTER TABLE [TCC].[ESTADO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.ESTADO_TCC.PAIS_ID_PAIS] FOREIGN KEY([ID_PAIS])
REFERENCES [TCC].[PAIS] ([ID])
GO
ALTER TABLE [TCC].[ESTADO] CHECK CONSTRAINT [FK_TCC.ESTADO_TCC.PAIS_ID_PAIS]
GO
ALTER TABLE [TCC].[FERIAS]  WITH CHECK ADD  CONSTRAINT [FK_TCC.FERIAS_TCC.MATRICULA_ID_MATRICULA] FOREIGN KEY([ID_MATRICULA])
REFERENCES [TCC].[MATRICULA] ([ID])
GO
ALTER TABLE [TCC].[FERIAS] CHECK CONSTRAINT [FK_TCC.FERIAS_TCC.MATRICULA_ID_MATRICULA]
GO
ALTER TABLE [TCC].[FISIOTERAPEUTA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.FISIOTERAPEUTA_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[FISIOTERAPEUTA] CHECK CONSTRAINT [FK_TCC.FISIOTERAPEUTA_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[INSTRUTOR]  WITH CHECK ADD  CONSTRAINT [FK_TCC.COLABORADOR_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[INSTRUTOR] CHECK CONSTRAINT [FK_TCC.COLABORADOR_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[INSTRUTOR]  WITH CHECK ADD  CONSTRAINT [FK_TCC.COLABORADOR_TCC.USUARIO_ID_USUARIO_LOGIN] FOREIGN KEY([ID_USUARIO_LOGIN])
REFERENCES [TCC].[USUARIO] ([ID])
GO
ALTER TABLE [TCC].[INSTRUTOR] CHECK CONSTRAINT [FK_TCC.COLABORADOR_TCC.USUARIO_ID_USUARIO_LOGIN]
GO
ALTER TABLE [TCC].[INSTRUTOR]  WITH CHECK ADD  CONSTRAINT [FK_TCC.COLABORADOR_TCC.USUARIO_TIPO_PERFIL_ID_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [TCC].[USUARIO_TIPO_PERFIL] ([Id])
GO
ALTER TABLE [TCC].[INSTRUTOR] CHECK CONSTRAINT [FK_TCC.COLABORADOR_TCC.USUARIO_TIPO_PERFIL_ID_PERFIL]
GO
ALTER TABLE [TCC].[LOG_OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.LOG_OPERACAO_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[LOG_OPERACAO] CHECK CONSTRAINT [FK_TCC.LOG_OPERACAO_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[LOG_OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.LOG_OPERACAO_TCC.SUBMENU_ID_SUBMENU] FOREIGN KEY([ID_SUBMENU])
REFERENCES [TCC].[SUBMENU] ([ID])
GO
ALTER TABLE [TCC].[LOG_OPERACAO] CHECK CONSTRAINT [FK_TCC.LOG_OPERACAO_TCC.SUBMENU_ID_SUBMENU]
GO
ALTER TABLE [TCC].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.MATRICULA_TCC.CLIENTE_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [TCC].[ALUNO] ([ID])
GO
ALTER TABLE [TCC].[MATRICULA] CHECK CONSTRAINT [FK_TCC.MATRICULA_TCC.CLIENTE_ID_CLIENTE]
GO
ALTER TABLE [TCC].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.MATRICULA_TCC.PLANO_ID_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [TCC].[PLANO] ([ID])
GO
ALTER TABLE [TCC].[MATRICULA] CHECK CONSTRAINT [FK_TCC.MATRICULA_TCC.PLANO_ID_PLANO]
GO
ALTER TABLE [TCC].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.PAGAMENTO_TCC.MATRICULA_ID_MATRICULA] FOREIGN KEY([ID_MATRICULA])
REFERENCES [TCC].[MATRICULA] ([ID])
GO
ALTER TABLE [TCC].[PAGAMENTO] CHECK CONSTRAINT [FK_TCC.PAGAMENTO_TCC.MATRICULA_ID_MATRICULA]
GO
ALTER TABLE [TCC].[PLANO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.PLANO_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[PLANO] CHECK CONSTRAINT [FK_TCC.PLANO_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[PRESENCA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.PRESENCA_TCC.MATRICULA_ID_MATRICULA] FOREIGN KEY([ID_MATRICULA])
REFERENCES [TCC].[MATRICULA] ([ID])
GO
ALTER TABLE [TCC].[PRESENCA] CHECK CONSTRAINT [FK_TCC.PRESENCA_TCC.MATRICULA_ID_MATRICULA]
GO
ALTER TABLE [TCC].[PRESENCA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.PRESENCA_TCC.TREINAMENTO_ID_TREINAMENTO] FOREIGN KEY([ID_TREINAMENTO])
REFERENCES [TCC].[TREINAMENTO] ([ID])
GO
ALTER TABLE [TCC].[PRESENCA] CHECK CONSTRAINT [FK_TCC.PRESENCA_TCC.TREINAMENTO_ID_TREINAMENTO]
GO
ALTER TABLE [TCC].[SUBMENU]  WITH CHECK ADD  CONSTRAINT [FK_TCC.SUBMENU_TCC.MENU_ID_MENU] FOREIGN KEY([ID_MENU])
REFERENCES [TCC].[MENU] ([ID])
GO
ALTER TABLE [TCC].[SUBMENU] CHECK CONSTRAINT [FK_TCC.SUBMENU_TCC.MENU_ID_MENU]
GO
ALTER TABLE [TCC].[TREINAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.TREINAMENTO_TCC.COLABORADOR_ID_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [TCC].[INSTRUTOR] ([ID])
GO
ALTER TABLE [TCC].[TREINAMENTO] CHECK CONSTRAINT [FK_TCC.TREINAMENTO_TCC.COLABORADOR_ID_COLABORADOR]
GO
ALTER TABLE [TCC].[TREINAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.TREINAMENTO_TCC.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [TCC].[EMPRESA] ([ID])
GO
ALTER TABLE [TCC].[TREINAMENTO] CHECK CONSTRAINT [FK_TCC.TREINAMENTO_TCC.EMPRESA_ID_EMPRESA]
GO
ALTER TABLE [TCC].[TREINAMENTO_SEMANA]  WITH CHECK ADD  CONSTRAINT [FK_TCC.TREINAMENTO_SEMANA_TCC.TREINAMENTO_ID_TREINAMENTO] FOREIGN KEY([ID_TREINAMENTO])
REFERENCES [TCC].[TREINAMENTO] ([ID])
GO
ALTER TABLE [TCC].[TREINAMENTO_SEMANA] CHECK CONSTRAINT [FK_TCC.TREINAMENTO_SEMANA_TCC.TREINAMENTO_ID_TREINAMENTO]
GO
ALTER TABLE [TCC].[USUARIO_ACESSO]  WITH CHECK ADD  CONSTRAINT [FK_TCC.USUARIO_ACESSO_TCC.USUARIO_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [TCC].[USUARIO] ([ID])
GO
ALTER TABLE [TCC].[USUARIO_ACESSO] CHECK CONSTRAINT [FK_TCC.USUARIO_ACESSO_TCC.USUARIO_ID_USUARIO]
GO
ALTER TABLE [TCC].[USUARIO_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_TCC.USUARIO_LOGIN_TCC.USUARIO_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [TCC].[USUARIO] ([ID])
GO
ALTER TABLE [TCC].[USUARIO_LOGIN] CHECK CONSTRAINT [FK_TCC.USUARIO_LOGIN_TCC.USUARIO_ID_USUARIO]
GO
ALTER TABLE [TCC].[USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_TCC.USUARIO_PERFIL_TCC.USUARIO_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [TCC].[USUARIO] ([ID])
GO
ALTER TABLE [TCC].[USUARIO_PERFIL] CHECK CONSTRAINT [FK_TCC.USUARIO_PERFIL_TCC.USUARIO_ID_USUARIO]
GO
ALTER TABLE [TCC].[USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_TCC.USUARIO_PERFIL_TCC.USUARIO_TIPO_PERFIL_ID_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [TCC].[USUARIO_TIPO_PERFIL] ([Id])
GO
ALTER TABLE [TCC].[USUARIO_PERFIL] CHECK CONSTRAINT [FK_TCC.USUARIO_PERFIL_TCC.USUARIO_TIPO_PERFIL_ID_PERFIL]
GO
